{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>Product: {{ product.title }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{{ path('form_products_store') }}">
        <label for="inputTitle">Name</label>
        <input id="inputTitle" type="text" name="title">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-primary" type="submit">
            Create
        </button>
    </form>
{% endblock %}
